.container {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    @media(max-width: 560px) {
        justify-content: center;
    }
}
.logo {
    width: 400px;
    filter: drop-shadow(0 4px 8px rgba(131, 126, 126, 0.7));

    @media(max-width: 560px) {
        width: 250px;
    }
}

.section {
    display: flex;
    gap: 10px;
}



