.container {
    overflow: auto;
}
.containerCards {
    width: 100%;
    box-sizing: border-box;
    height: 236px;
    align-items: center;
    display: flex;
    overflow-x: auto;
}
.containerCards::-webkit-scrollbar {
    display: none;
}