.container {
    overflow: auto;
}
.containerCards {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
    background-color: black;
}
.cardone {
    width: 156px;
    height: 240px;
    background-color: var(--red);
    border-radius: 8px;
    @media (max-width: 750px) {
        min-height: 150px;
    }
}