.navbar {
    width: auto;
    height: 60px;
    display: flex;
    gap: 30px;
    justify-content: start;
    align-items: center;
    @media (max-width: 750px) {
        justify-content: space-between;
    }
}
.logoContainer {
    display: flex;
    align-items: center;
}
.logo {
    width: 28px;
    padding: 8px;
    border-radius: 4px;
    background: rgb(46, 45, 45);
}
.navLinks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    z-index: 100;
    @media (max-width: 750px) {
        display: none;
    }
}
.navLinks a {
    color: white;
}
a {
    text-decoration: none;
}