.navbar {
    width: 100%;
    display: flex;
    gap: 30px;
    height: 80px;
    justify-content: start;
    align-items: center;
    @media (max-width: 750px) {
        justify-content: space-between;
    }
}
.logoContainer {
    display: flex;
    align-items: center;
}
.logo {
    width: 150px;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    @media (max-width: 750px) {
        display: none;
    }
}
.navLinks a {
    color: white;
}
a {
    text-decoration: none;
    height: auto;
}
.asideIcon {
    display: none;
    font-size: 26px;
    @media (max-width: 751px) {
        display: block;
    }
}
.asideIcon:hover {
    cursor: pointer;
}
.asideContainer {
    width: 80%;
    z-index: 1001;
    position: absolute;
    right: 0;
    top: 0;

}

.desactive {
    display: none;
}
.isActive {
    display: flex;
    height: 100vh;
    background-color: red;
    border: solid 1px rgb(39, 39, 39);
}