.mainContainer {
    display: flex;
    flex-direction: column;

}
.titleSection {
    height: 50px;
    display: flex;
    align-items: center;
 }
.container {
    width: 92%;
    min-height: 100vh;
}

.cardContainer {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    background-color: black;
}
.containerHero {
    width: 100%;
    gap: 8px;
    height: auto;
    display: flex;
    overflow-x: scroll ;
}