.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titleSection {
    height: 50px;
    display: flex;
    align-items: center;
}
.container {
    width: 92%;
    min-height: 100vh;
}

.cardContainer {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
}