.mainContainer {
    display: flex;
    width: 92%;
    flex-direction: column;

}
.titleSection {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleSection a {
    color: var(--red);
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.navbar {
    width: 92%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 99;
}
.cardContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    background-color: black;
}
 
.preHero {
    z-index: 90;
    width: 100%;
    height: 85vh;
    @media (max-width: 750px) {
        width: 100vw;
        height: 40vh;
    }
}


.asideIcon {
    display: none;
    font-size: 34px;
    @media (max-width: 751px) {
        display: block;
    }
}
.asideIcon:hover {
    cursor: pointer;
}
.asideContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 100;
    pointer-events: none;
}

.asideContainer:has(.aside) {
    pointer-events: auto;
}
