.footer {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (max-width: 750px) {
        min-height: 220px;
    }

}

.containerLogo {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}
.logoDrMovies {
    width: 40px;
    padding: 10px;
}
.containerSection {
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    @media(max-width: 600px) {
        gap: 8px;
    }
}
.linksSection {
    width: auto;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
.linksSection a {
    font-style: normal;
    color: rgb(175, 175, 175);
    font-size: 14px;
}
.linksSection a:hover {
    color: white;
}
