.mainContainer {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titleContainer {
    display: flex;
    align-items: center;
    height: auto;
}
.seasonContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 20px 0;
    @media (max-width:560px) {
        gap: 12px;
    }
}
.seasonCard {
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
    @media (max-width:560px) {
        width: 160px;
    }
}
.seasonCard img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    @media (max-width:560px) {
        height: 240px;
    }
}
.isActive {
    display: "";
}
.desactive {
    display: none;
}
.episodesContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    @media (max-width:560px) {
        gap: 12px;
    }
}
.episodesContainer img {
    width: 200px;
}
.episodeData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.episodesCard {
    width: 100%;
    display: flex;
    gap: 20px;
}
.episodesCard img {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    @media (max-width: 560px) {
        width: 180px;
        height: 120px;
    }
}