.mainContainer {
    width: 92%;
    display: flex;
    flex-direction: column;

}
.titleContainer {
    display: flex;
    align-items: center;
    height: auto; 
    padding: 20px 0 20px 0;
    width: 100%;
    @media (max-width:560px) {
        padding: 10px 0 10px 0;    }
}
.seasonContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    @media (max-width:560px) {
        gap: 12px;
    }
}
.seasonCard {
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
    @media (max-width:560px) {
        width: 120px;
    }
}
.seasonCard img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    @media (max-width:560px) {
        height: 180px;
    }
}
.isActive {
    display: "";
}
.desactive {
    display: none;
}
.episodesContainer {
    display: flex;
    overflow-x: scroll;;
    width: 100%;
    @media (max-width:560px) {
        gap:10px;

    }
}
.episodesCard {
    width: 55%;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    @media(max-width: 560px) {
        gap:10px;
        flex-direction: column;
        border-radius: 6px
    }
}
.episodesCard:hover {
    background-color: rgb(30, 30, 30);
}
.episodesCard img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    @media (max-width: 560px) {
        height: 100px;
        border-radius: 5px;
    
    }
}
.episodeData {
    display: flex;
    flex-direction: column;
    width: auto;
    cursor: pointer;
    z-index: 100;
    gap: 8px;
    @media (max-width: 560px) {
        height: auto;

    }
  /* https://www.eporner.com/video-YamuqfKo6RH/hairy-japanese-grandmas-06-01/   https://es.eporner.com/video-I0SPwrMMTU2/friend-with-a-beautiful-ass-became-my-sex-practice-partner-for-me-a-virgin-who-had-just-gotten-my-first-girlfriend-part-1/*/
}

.reproductor {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}