.container {
    width: 92%;
}

.cardContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 150px;
}

.cardlContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
    justify-content: center;
    gap: 28px 18px;
    padding: 25px;
}
.movieCard {
    width: 100%;
    min-width: 0;
}
.ImgMovieCard {
    width: 100%;
}