.btnCustom {
    color: white;
    width: 100px;
    border-radius: 10px;
    border: 2px solid rgb(54, 54, 54);
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: all .2s ease-in;
}
.btnCustom:hover {
    color: white;
    background-color: rgb(49, 49, 49);
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}