.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titleSection {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleSection a {
    color: var(--red);
}
.containerCard {
    width: 100%;
    height: auto;
}