.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titleSection {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.verMas {
    display: flex;
    align-items: center;
    color: var(--red);
}
.verMas i {
    font-size: 18px;
}
.titleSection p {
    color: var(--red);
}
.containerCard {
    width: 100%;
    min-height: 240px;
    @media (max-width: 750px) {
        min-height: 150px;
    }
}