.container {
    width: 92%;
}
.inputContainer {
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.inputContainer input {
    height: 100%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
.moviesGrid {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 8px;

    font-size: 18px;
    width: 40px;
    height: 100%;
}

button:hover {
    background-color: rgb(190, 190, 190);
}