.container {
    width: 92%;
}
.inputContainer {
    height: 70vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: url("../../assets/spider-man.jpg");
    background-position: center;
    background-size: cover;
    border: solid 1px rgb(49, 49, 49);
}
.inputContainer input {
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
.moviesGrid {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 8px;

    font-size: 18px;
    width: 40px;
    height: 40px;
}

button:hover {
    background-color: rgb(190, 190, 190);
}