.movieCard {
    width: 180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform .5s ease;
    @media (max-width: 750px) {
        width: 162px;
    }
}
.imgMovieCard {
    width: 100%;
    border-radius: 4px;
    height: 260px;
    @media (max-width:750px) {
        height: 220px;
    }
}
