.movieCard {
    width: 156px;
    height: auto;
    gap: 6px;
    display: flex;
    transition: transform .5s ease;
    flex-direction: column;
    overflow: hidden;
    @media (max-width: 750px) {
        width: 100px;
        height: 150px;
    }
}
.imgMovieCard {
    width: 100%;
    border-radius: 6px;
    height: 240px;
    @media (max-width:750px) {
        height: 150px;
    }
}

.titleMovieCard {
    width: 100%;
    height: auto;
    @media (max-width:750px) {
        height: 150px;
    }
}